@charset "utf-8";

div#dispArea {
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  font-size: 20px;
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding: 30px; }

div#dispArea > *:first-child {
  margin-top: 0 !important; }
div#dispArea > *:last-child {
  margin-bottom: 0 !important; }

div#dispArea > a {
  color: #4183C4; }
div#dispArea > a.absent {
  color: #cc0000; }
div#dispArea > a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

div#dispArea > h1, div#dispArea > h2, div#dispArea > h3, div#dispArea > h4, div#dispArea > h5, div#dispArea > h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }

div#dispArea > h1:hover a.anchor, div#dispArea > h2:hover a.anchor, div#dispArea > h3:hover a.anchor, div#dispArea > h4:hover a.anchor, div#dispArea > h5:hover a.anchor, div#dispArea > h6:hover a.anchor {
  background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;
  text-decoration: none; }

div#dispArea > h1 tt, div#dispArea > h1 code {
  font-size: inherit; }

div#dispArea > h2 tt, div#dispArea > h2 code {
  font-size: inherit; }

div#dispArea > h3 tt, div#dispArea > h3 code {
  font-size: inherit; }

div#dispArea > h4 tt, div#dispArea > h4 code {
  font-size: inherit; }

div#dispArea > h5 tt, div#dispArea > h5 code {
  font-size: inherit; }

div#dispArea > h6 tt, div#dispArea > h6 code {
  font-size: inherit; }

div#dispArea > h1 {
  font-size: 28px;
  color: black; }

div#dispArea > h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black; }

div#dispArea > h3 {
  font-size: 18px; }

div#dispArea > h4 {
  font-size: 16px; }

div#dispArea > h5 {
  font-size: 14px; }

div#dispArea > h6 {
  color: #777777;
  font-size: 14px; }

div#dispArea > p, div#dispArea > blockquote, div#dispArea > ul, div#dispArea > ol, div#dispArea > dl, div#dispArea > li, div#dispArea > table, div#dispArea > pre {
  margin: 15px 0; }

div#dispArea > hr {
  background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0; }

div#dispArea > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
div#dispArea > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
  div#dispArea > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
div#dispArea > h3:first-child, div#dispArea > h4:first-child, div#dispArea > h5:first-child, div#dispArea > h6:first-child {
  margin-top: 0;
  padding-top: 0; }

div#dispArea > a:first-child h1, div#dispArea > a:first-child h2, div#dispArea > a:first-child h3, div#dispArea > a:first-child h4, div#dispArea > a:first-child h5, div#dispArea > a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

div#dispArea > h1 p, div#dispArea > h2 p, div#dispArea > h3 p, div#dispArea > h4 p, div#dispArea > h5 p, div#dispArea > h6 p {
  margin-top: 0; }

div#dispArea > li p.first {
  display: inline-block; }

div#dispArea > ul, div#dispArea > ol {
  padding-left: 30px; }

div#dispArea > ul :first-child, div#dispArea > ol :first-child {
  margin-top: 0; }

div#dispArea > ul :last-child, div#dispArea > ol :last-child {
  margin-bottom: 0; }

div#dispArea > dl {
  padding: 0; }
  div#dispArea > dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    div#dispArea > dl dt:first-child {
      padding: 0; }
    div#dispArea > dl dt > :first-child {
      margin-top: 0; }
    div#dispArea > dl dt > :last-child {
      margin-bottom: 0; }
  div#dispArea > dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    div#dispArea > dl dd > :first-child {
      margin-top: 0; }
    div#dispArea > dl dd > :last-child {
      margin-bottom: 0; }

div#dispArea > blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
  div#dispArea > blockquote > :first-child {
    margin-top: 0; }
  div#dispArea > blockquote > :last-child {
    margin-bottom: 0; }

div#dispArea > table {
  padding: 0; }
  div#dispArea > table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    div#dispArea > table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    div#dispArea > table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    div#dispArea > table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    div#dispArea > table tr th :first-child, div#dispArea > table tr td :first-child {
      margin-top: 0; }
    div#dispArea > table tr th :last-child, div#dispArea > table tr td :last-child {
      margin-bottom: 0; }

div#dispArea > img {
  max-width: 100%; }

div#dispArea > span.frame {
  display: block;
  overflow: hidden; }
  div#dispArea > span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
  div#dispArea > span.frame span img {
    display: block;
    float: left; }
  div#dispArea > span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
div#dispArea > span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
  div#dispArea > span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
  div#dispArea > span.align-center span img {
    margin: 0 auto;
    text-align: center; }
div#dispArea > span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
  div#dispArea > span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
  div#dispArea > span.align-right span img {
    margin: 0;
    text-align: right; }
div#dispArea > span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
  div#dispArea > span.float-left span {
    margin: 13px 0 0; }
div#dispArea > span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }
  div#dispArea > span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }

div#dispArea > code, div#dispArea > tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

div#dispArea > pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

div#dispArea > .highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

div#dispArea > pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  div#dispArea > pre code, div#dispArea > pre tt {
    background-color: transparent;
    border: none; }

